language: python
python:
  - 2.7
  - 3.4

matrix:
  allow_failures:
    - python: 3.4

sudo: false

addons:
  apt:
    packages:
      # Required to build/install the xapian-binding
      - libxapian-dev
      # Required to install pyme
      - libgpgme11-dev
      - swig

before_install:
  - cd /tmp
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then curl -s -O https://oligarchy.co.uk/xapian/1.2.8/xapian-bindings-1.2.8.tar.gz; fi
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then tar -zxvf xapian-bindings-1.2.8.tar.gz; fi
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then cd xapian-bindings-1.2.8/; fi
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then ./configure --prefix=$VIRTUAL_ENV --with-python && make && make install; fi

  # change back to the checked out repository directory
  - cd $TRAVIS_BUILD_DIR

install:
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then pip install MySQL-python psycopg2 pytz pyme whoosh; fi
  - pip install six pytest-cov codecov

  # includes a patch for python 2.6 support
  - if [ $TRAVIS_PYTHON_VERSION != "3.4" ]; then pip install git+https://bitbucket.org/malb/pyme.git@459f3eca65#egg=pyme; fi

before_script:
  # set up mysql database
  - mysql -u root -e 'GRANT ALL ON rounduptest.* TO rounduptest@localhost IDENTIFIED BY "rounduptest";'

  # set up postgresql database
  - psql -c "CREATE ROLE rounduptest WITH CREATEDB LOGIN PASSWORD 'rounduptest';" -U postgres

  # HACK: workaround mysql bug: http://bugs.mysql.com/bug.php?id=74901
  #   needed for test_mysql.mysqlDBTest.testFilteringSpecialChars
  - sed -i 's/CREATE DATABASE \%s/CREATE DATABASE \%s COLLATE utf8_general_ci/' roundup/backends/back_mysql.py

script:
  - py.test -v test/ --cov=roundup

after_success:
  - codecov
